#activites {
    padding: 0px 20px;
}
#bloc_activite {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "vieuxport pomegue parc notredame"
    "vieuxport frioul parc longchamp";
    margin-bottom: 40px;
    grid-column-gap: 3%;
}
.photoc {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 30px 30px 0px 0px;
}
.photod {
    height: 195px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0px 0px;
}
.photoe {
    width: 100%;
    object-fit: cover;
    height: 147px;
    border-radius: 30px 30px 0px 0px;
}
.photof {
    width: 100%;
    object-fit: cover;
    height: 165px;
    border-radius: 30px 30px 0px 0px;
}
.photog {
    width: 100%;
    object-fit: cover;
    height: 197px;
    border-radius: 30px 30px 0px 0px;
}
#vieuxport {
    grid-area: vieuxport;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    text-decoration: none;
    color: black;
}
#pomegues {
    grid-area: pomegue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    text-decoration: none;
    color: black;
}
#frioul {
    grid-area: frioul;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    text-decoration: none;
    color: black;
}
#parc {
    grid-area: parc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    text-decoration: none;
    color: black;
}
#notredame {
    grid-area: notredame;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    height: 220px;
    text-decoration: none;
    color: black;
}
#longchamp {
    grid-area: longchamp;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    text-decoration: none;
    color: black;
}
#bloc_activite p {
    font-size: 1em;
    font-weight: 700;
    align-items: center;
    padding-left: 20px;
}
#activites h4 {
    font-size: 1.3em;
    padding-left: 10px;
    margin-top: 50px;
    font-weight: 700;
}

/* iphone 8*/
@media screen and (max-width: 650px) and (min-width: 352px) {

    #bloc_activite {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px;
    }    
    #vieuxport, #pomegues, #frioul, #parc, #longchamp {
        margin: 15px 30px;
    }
    #notredame
    {
        height: 170px;
        margin: 15px 30px;
    }
    #bloc_activite p {
        font-size: 1em;
        font-weight: bolder;
        padding-left: 20px;
    }
    .photoc, .photod, .photoe, .photof, .photog {
        height: 120px;
    }
    #activites h4 {
        font-size: 1.3em;
        padding-left: 30px;
        margin-bottom: 10px;
    }
    #activites {
        padding: 0;
    }
}

/* tablette */
@media screen and (max-width: 850px) and (min-width: 651px) {

    #activites {
        margin:0%;
    }   
    #bloc_activite {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        
    }
    #vieuxport, #pomegues, #parc, #frioul, #longchamp {
        margin: 10px;
        width: 45%;
    }
    #notredame {
        height: auto;
        width: 45%;
        margin: 10px;
    }
    .photoc, .photod, .photoe, .photof, .photog {
        height: 250px;
    }
    #bloc_activite p {
        font-size: 1em;
    }
    #activites h4 {
        font-size: 1.5em;
        padding-left: 30px;
    }
}

/* small phone */
@media screen and (max-width: 351px) {
    #bloc_activite {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .photoc, .photod, .photoe, .photof, .photog {
        height: 120px;
    }
    #vieuxport, #pomegues, #frioul, #parc, #longchamp {
        margin: 15px 11px;
    }
    #notredame
    {
        height: 170px;
        margin: 15px 11px;
    }
    #activites {
        padding: 0;
    }
    #activites h4 {
        padding-left: 15px;
    }
}
