footer
{
    display: flex;
    background-color: #f2f2f2;
    justify-content: space-around;
    height: 150px;
}
footer h1
{
    font-weight: bold;
    padding-left: 7px;
}
footer p
{
    padding-top: 10px;
   
}
.fin_page
{
    padding-top: 20px;
}
/* iphone 8*/
@media screen and (max-device-width: 480px) and (min-device-width: 321px)
{

footer
{
    background-color: #f2f2f2;
    flex-direction: column;
    width: 1480px;
    height: 1600px;
}  
footer h1
{
    font-size: 4em;
    padding-left: 100px;
}  
.fin_page
{
    padding-top: 50px ;
    padding-bottom: 80px;
}
footer p
{
    font-size: 3em;
    padding-top: 40px;
    margin-left: 100px;
}
}

/* tablette */
@media screen and (max-device-width: 769px) and (min-device-width: 481px)
{

footer
{
    width: 1500px;
    height: 300px;
}
footer h1
{
    font-size: 2em;
    margin-left: -2px;
}
footer p
{
    font-size: 1.5em;
}
.fin_page
{
    margin-top: 30px;
}

}
/* mobile large */
@media screen and (max-device-width: 480px) and (min-device-width: 376px)
{
footer
{
    width: 2000px;
}    
.fin_page
{
    margin-left: 400px;
}
}

/* small phone */
@media screen and (max-device-width: 320px)
{

footer
{
    flex-direction: column;
    width: 1480px;
    height: 1600px;
}  
footer h1
{
    font-size: 4em;
    padding-left: 50px;
}  
.fin_page
{
    padding-top: 50px ;
    padding-bottom: 80px;
}
footer p
{
    font-size: 3em;
    padding-top: 40px;
    margin-left: 100px;
}
}
