footer
{
    display: flex;
    background-color: #f2f2f2;
    justify-content: space-around;
    height: 150px;
}
h7
{
    font-weight: bold;
    padding-left: 7px;
    
    
}
footer p
{
    padding-top: 10px;
   
}
.fin_page
{
    padding-top: 20px;
}
/* iphone 8*/
@media screen and (max-device-width: 480px)
{

footer
{
    background-color: #f2f2f2;
    flex-direction: column;
    width: 1380px;
    height: 1600px;
}  
h7
{
    font-size: 5em;
    padding-left: 50px;
}  
.fin_page
{
    padding-top: 50px ;
    padding-bottom: 80px;
}
footer p
{
    font-size: 4em;
    padding-top: 40px;
}
}