footer {
    display: flex;
    background-color: #f2f2f2;
    justify-content: flex-start;
    padding-left: 30px;
    
}
footer h2 {
    font-weight: bold;
    font-size: 1.3em;
}
footer a {
    text-decoration: none;
    color: black;
}
.fin_page {
    margin-right: 20%;
}
/* iphone 8*/
@media screen and (max-width: 650px) and (min-width: 320px) {

    footer {
        flex-direction: column;
        padding-left: 30px;
    }  
    footer h2 {
        font-size: 1em;
        font-weight: bold;
    }  
    footer p, footer a {
        font-size: 0.8em;
    }
}

/* tablette */
@media screen and (max-width: 850px) and (min-width: 651px) {

    footer {
        margin-top: 50px;
    }
    footer h2 {
        font-size: 1.2em;
        margin: 0%;
        padding-top: 20px;
    }
    footer p, footer a {
        font-size: 0.8em;
    }
    .fin_page {
        margin-right: 10%;
    }

}


