footer {
    display: flex;
    background-color: #f2f2f2;
    justify-content: space-around;
}
footer h2 {
    font-weight: bold;
    font-size: 1.3em;
}
/* iphone 8*/
@media screen and (max-width: 650px) and (min-width: 320px) {

    footer {
        flex-direction: column;
    }  
    footer h2 {
        font-size: 1em;
        padding-left: 50px;
        font-weight: bold;
    }  
    footer p {
        font-size: 0.8em;
        padding-left: 50px;
    }
}

/* tablette */
@media screen and (max-width: 850px) and (min-width: 651px) {

    footer {
        margin-top: 50px;
    }
    footer h2 {
        font-size: 1.2em;
        margin: 0%;
        padding-top: 20px;
    }
    footer p {
        font-size: 0.8em;
    }

}


