body {
    font-family: raleway,tahoma,sans-serif;
    margin: 0;
}
.contenu {
    max-width: 1500px;
    box-sizing: border-box;
}
header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
header a:hover {
    color: #0065fc;
    border-top: 1.6px #0065fc solid;

}
a.activites { 
    text-decoration: none;
    color: black;  
    font-size: small;
    padding: 40px;
}
header p { 
    color: #0065fc;
    font-weight: bold;
    padding: 20px;
}
a.hebergement {
    font-size: small;
    text-decoration: none;
    color: black;
    padding: 40px;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.ancre {
    display: flex;
    justify-content: flex-end;
}
/* iphone 8 */
@media screen and (max-width: 650px) and (min-width: 320px) {

   
    header {
        display: flex;
        flex-wrap: wrap;
        margin: 0%;
        padding: 0;
    }
    header img {
        height: 3em;
        padding-left: 30px;
    }
    header p {
        font-size: 1em;
        order: 2;
        padding-right: 30px;
    }
    a.hebergement {
        border-bottom: 6px #f2f2f2 solid;
        font-size: 1em;
        width: 50%;
        text-align: center;
    }
    a.activites {
        border-bottom: 6px #f2f2f2 solid;
        font-size: 1em;
        width: 50%;
        text-align: center;
    }
    header a:hover {
        border-top: none;
        border-bottom: #0065fc 6px solid;
        color: #0065fc;
    }
    .ancre {
        order: 3;
        display: inline-flex;
        width: 100%;
    }
    nav {
        display: contents;
    }

}

/* tablette */
@media screen and (max-width: 850px) and (min-width: 651px) {
     
    .ancre {
        display: flex;
    } 
    a.hebergement {
        font-size: 1em;
        padding: 20px;
    }
    a.activites {
        font-size: 1em;
        padding: 20px;
    }
    header p {
        font-size: 1em; 
        padding: 20px;
    }
    nav {
        display: flex;
        justify-content: flex-end;
    }
}


