body
{
     font-family: raleway,tahoma,sans-serif;
     margin: auto;
     width: 95%;
     
}
header
{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    
    
}
header a:hover
{
    color: #0065fc;
}
a.activites
{ 
    text-decoration: none;
    color: black;  
    font-size: small;  
      
}
header p
{ 
    color: #0065fc;
    font-weight: bold;
    font-size: small;

}
header img
{ 
padding-right: 70%;
height: 40px;

}
a.hebergement
{
    font-size: small;
    text-decoration: none;
    color: #0065fc;
    border-top: 1.5px #0065fc solid;
    padding-top: 30px;
    margin-bottom: 30px;
   
}
/* iphone 8 */
@media screen and (max-device-width: 480px){

body
{
    width: 100%;
}    
  
header
{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas:
   "logo logo inscrire inscrire" 
   "heberge heberge activites activites";
   height: 500px;
   width: 140%;
   
}
header img
{
    grid-area: logo;
    height: 150px;
    width: 50%;
    padding-left: 100px;
    padding-bottom: 20px;
   
}
header p
{
    grid-area: inscrire ;
    text-align: center;
    font-size: 50px;
    padding-left: 90px;
}
a.hebergement
{
    grid-area: heberge;
    text-align: center;
    border-bottom: 4px #0065fc solid;
    font-size: 40px;
    border-top: none;
}
a.activites
{
    grid-area: activites;
    text-align: center;
    border-bottom: 4px #f2f2f2 solid;
    font-size: 40px;
    
}
}

/* tablette */
@media only screen and (min-width: 768px) and (max-width:480px)
{

}

