#section {
    padding-left: 20px;
}

h1 {
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: auto;
    margin-bottom: 2px;
}
#section p {
    font-size:0.9em;
    padding-top: auto;
    margin-top: 5px;
    margin-left: 0%;
}  
/* rechercher */ 
form {
    display: flex;
    align-content: center;
    margin-top: 10px;
}
#element1 {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    border-radius: 8px 0px 0px 8px;
    width: 3%;
    height: 36px;
    text-align: center;
    align-items: baseline;
}  
#rechercher {
    margin-right: 0%;
    padding-left: 10px;
    height: 28px;
    border: 3px #f2f2f2 solid;
    font-weight: 700;
    font-family: raleway;
    font-size: 0.9em;
}
#search {
    height: 14px;
    margin-top: 25%;
    margin-left: 5%;   
}
#bouton1 {
    background-color: #0065fc;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;
    height: 36px;
    border-radius: 0px 8px 8px 0px;
}
#bouton2 {
    display: none;
}
/* filtres */
.bloc-filtre {
    display: flex;
    flex-wrap: wrap;
}
#filtres {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
h3 {
    font-weight: 700;
    font-size: 1em;
    margin-right: 30px;
    
}
#filtres h2 {
    font-weight: 700;
    font-size: 1em;
    padding-left: 10px;
}
.filter:hover {
    background-color:#deebff;
}
.filter {
    display: flex;
    align-items: center;
    border: #f2f2f2 2px solid;
    border-radius: 30px;
    height: 35px;
    border-left: none;
    margin-right: 30px;
    padding-right: 15px;

}
#filtres p {
    border: 2px none;
    border-radius: 50%;
    background-color: #deebff;
    color: #0065fc;
    height: 40px;
    width: 40px;
    margin: 0;
}
#money {
    margin-top: 13px;
    margin-left: 12px;
    font-size: 13px;
}
#family {
    margin-top: 13px;
    margin-left: 15px;
    font-size: 15px;
}
#lover {
    margin-top: 13px;
    margin-left: 13px;
    font-size: 15px;
}
#dog {
    margin-top: 12px;
    margin-left: 12px;
    font-size: 15px;

}
/*info */
#info {
    display: flex;
    margin-top: 20px;
}
#information {
    border: 2px #f2f2f2 solid;
    border-radius: 50%;
    margin-right: 8px;
    color:#0065fc;
    font-size: 0.7em;
    padding: 3px 6px;
}
/* iphone 8*/
@media screen and (max-width: 650px) and (min-width: 352px) {

    h1 {
        font-size: 1.4em;
        width: 90%;
    }  
    #section {
        padding-left: 30px;
    }  
    #section p {
        font-size: 1em;
        margin-top: 10px;
    }
    /* bouton recherche */

    #element1 {
        height: 50px;
        width: 50px;
        border-radius: 15px 0px 0px 15px;
    }
    #search {
        height: 20px;
        margin: 0%;
        font-size: 2em;
        padding-top: 15px;
    }
    #rechercher {
        height: 42px;
        font-size: 1em;
        font-weight: bold;
    }
    #bouton1 {
        display: none;
    }
    #bouton2 {
        display: inherit;
        background-color: #0065fc;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        margin-left: -10px;
        width: 50px;
        height: 50px;  
    }
    .fa-search {
        font-size: 1.5em;
    }
    /* filtres */
    .bloc-filtre {
        display: flex;
        flex-wrap: wrap;
    }
    #filtres {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }   
    #filtres h2 {
        margin: 0%;
        font-size: 1em;
    }
    h3 {
        font-size: 1em;
        font-weight: bold;
    }
    #filtres p {
        border-radius: 50%; 
        width: 48px;
        height: 48px;
        margin: 0;
    }
    #information {
        height: 15px;
        border: 3px #f2f2f2 solid;
        padding: 3px 8px;
    }
    .filter {
        border: #f2f2f2 3px solid;
        border-left: none;
        border-radius: 60px;
        height: 45px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    #info p {
        margin: auto;
    }
    #money, #dog {
        font-size: 1.1em;
        margin-top: 13px;
        margin-left: 13px;
    }
    #family, #lover {
        font-size: 1.1em;
        margin-top: 15px;
        margin-left: 15px 
    }

}

/* tablette */
@media screen and (max-width: 850px) and (min-width: 651px) {

    h1 {
        font-size: 1.5em;
    }    
    #section p {
        font-size: 1em;
    }
    /* barre recherche */
    #element1 {
        height: 60px;
        width: 10%;
    }
    #search {
        height: 50px;
        width: 20px;
        margin-top: 5px;
    }
    #rechercher {
        height: 53px;
        font-size: 1.5em;
        padding-left: 10px;
    }
    #bouton1 {
        height: 60px;
        font-size: 1.5em;
    }
    form {
        height: 70px;
        margin-top: 30px;
    }

    /* filtres */
    h3 {
        font-size: 1.3em;
    }
    #filtres {
        padding-bottom: 20px;
        align-items: baseline;
        padding-left: 30px;
    }
    .filter {
        height: 40px;
        margin-right: 50px;
        margin-top: 10px;
    }
    #filtres h2 {
        font-size: 1.2em;
        padding-left: 10px;
    }
    #filtres p {
        height: 45px;
        width: 45px;
    }
    #money {
        font-size: 1.3em;
        margin-top: 13px;
    }
    #family {
        font-size: 1.3em;
        margin-top: 13px;
    }
    #lover {
        font-size: 1.3em;
        margin-top: 13px;
    }
    #dog {
        font-size: 1.3em;
        margin-top: 13px;
    }
    .bloc-filtre {
        align-content: space-between;
    }    
}

/* small phone */
@media screen and (max-width: 351px) {

    #section {
        padding-left: 5px;
    }
    /* rechercher*/
    #element1 {
        width: 30px;
    }
    #bouton1 {
        display: none;
    }
    #bouton2 {
        display: inherit;
        background-color: #0065fc;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        margin-left: -10px;
        width: 35px;
        height: 35px;  
    }
    .fa-search {
        font-size: 1em;
    }
    #rechercher {
        width: 60%;
        font-size: 0.7em;
    }
    /*filtres*/
    #filtres {
        display: none;
    }
}
