/* hebergements à marseille */
#bloc1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 30px;
}
.page2 {
    border: 6px white solid;
    border-radius: 10px;
    width: 30%;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
    background-color: white;
}
.page3 {
    display: flex;
    justify-content: space-around ;
    width: 90%;
    border: 6px white solid;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
}
a.page2:hover, a.page3:hover {
    transform: scale(1.3);
}
#hebergement {
    display: flex;
    padding: 0px 20px;
}
.heberge {
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 70%;
    margin-top: 30px;
}
.photo {
    width: 100%;
    height: 145px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
ul {
    display: flex;
    list-style-type: none;
    color: #0065fc;
    padding: 0%;
    font-size:0.9em;
    margin: 4px 0px 4px 8px;
}
.page2 h5 {
    margin: 4px 0px 4px 8px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}
 .page2 p {
    margin: 4px 0px 4px 8px;
    font-size: 0.9em;
    text-decoration: none;
}
.heberge h4 {
    padding-left: 50px;
    font-size: larger;
    margin-bottom: 15px;
}
.populaires h4 {
    padding-left: 20px;
    font-size: larger;
}
.etoile_grise {
    color: rgb(218, 213, 213);
}
h6 {
    font-size: 1em;
    padding-left: 40px;
    font-weight: bolder;
    margin-top: 0%;
}
/*les plus populaires*/
.titre {
    display: flex;
}
.populaires {
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 28%;
    margin-top: 30px;
    margin-left: auto;
    position: relative;
}
.info_hotel p {
    margin: 4px 0px 4px 8px;
    font-size: 0.9em;
    text-decoration: none;
}
#fleche {
    margin-top: 30px;
    margin-left: 90%;
    position:absolute
}
.pop {
    display: flex;
    width: 90%;
    height: 150px;
    border: 6px white solid;
    border-radius: 8px;
    background-color: white;
    margin: auto;
    
}
.photob {
    width: 50%;
    height: 150px;
    border-radius: 6px 0px 0px 6px;
    object-fit: cover;
}
.info_hotel {
    display: flex;
    flex-direction: column;
    
}
.ulpop {
    margin-top: 40px;

}
.info_hotel h5 {
    margin: 4px 0px 4px 8px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

/* iphone 8*/
@media screen and (max-width: 450px) and (min-width: 320px) {

    /* les plus populaires */    
    #hebergement {
        flex-direction: column-reverse;
        margin: 0%;
    }    
    #bloc1 {
        flex-direction: column;
    }
    .populaires {
        border-radius: 0%;
        background-color: #f2f2f2;
        margin: 100px 0px;
    }
    #fleche {
        font-size: 4em;
        margin-top: 100px;
        margin-left: 85%;
    }
    .photob {
        height: 440px;
        border-radius:30px 0px 0px 30px ;
        margin-top: 17px;
        margin-left: 17px;
        width: 100%;
    }
    .info_hotel h5 {
        margin-top: 15px;
        margin-left: 40px;
        font-weight: bolder;
    }
    .info_hotel p {
        margin-left: 40px;
    }
    .ulpop {
        font-size: 1em;
        margin-top: 150px;
        margin-left: 40px;
    }

    /* hebergement à marseille */

    .heberge {
        background-color: white;
    }
    .page2 {
        border-radius: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .photo {
        height: 380px ;
        width: 100%;
        margin: 10px 5px 0px 10px;
        border-radius: 30px 30px 0px 0px;
    }
    ul {
        font-size: 3em;
        padding-top: 20px;
        margin-left: 40px;
    }
    h6 {
        font-size: 3em;
    }
}

/* tablette */
@media screen and (max-width: 850px) {

    /* les plus populaires */    

    #hebergement {
        flex-direction: column-reverse;
        padding: 0%;
    }
    .populaires {   
        width: 100%;
        margin-top: 50px;
        border-radius: 0%;
    }
    #bloc2 {
        display: flex;
        justify-content: space-around;
    }
    .page3 {
        flex-direction: column;
        width: 30%;
        margin-top: 0;
    }
    .ulpop {
        margin: 5px 0px;
    }
    .populaires h4 {
        font-size: 1.5em;
    }
    .photob {
        width: 100%;
        height: 260px;
        border-radius: 20px 20px 0px 0px;
    }
    .info_hotel h5 {
        font-size: 0.9em;
        margin-left: 0;
    }
    .info_hotel p {
        margin-left: 0;
    }
    #fleche {
        font-size: 1.5em;
    }
    /* hebergement */

    #bloc1 {
        margin-top: 40px;
    }
    .heberge {
        width: 100%;
        background-color: white;
    }
    h6 {
        font-size: 2em;
    }
    .page2 {
        width: 45%;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
    .photo {
        width: 100%;
        height: 200px;
    }
    .page2 h5 {
        font-size: 1em
    }
    .page2 p {
        font-size: 1em;
    }
    .page2 ul {
        font-size: 1em;
        margin-top: 20px;
    }
    .heberge h4 {
        font-size: 1.5em;
        padding-left: 30px;
    }

}

